#ourCrew {
    margin-top:60px
}
#ourCrew div.member {
    width:460px;
    float:left;
    margin-top:20px;
    margin-right:20px
}
#ourCrew div.member:nth-child(2), #ourCrew div.member:nth-child(3) {
    margin-top:0
}
#ourCrew div.member.noRight {
    margin-right:0
}
#ourCrew div.member img {
    padding:5px;
    background:url("../images/dotted_black.png") left top repeat;
    display:block;
    float:left
}
#ourCrew div.member a.profile {
    width:100px;
    height:30px;
    display:block;
    float:right;
    margin:10px 180px 0 0;
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    background:url("../images/sprite1.png") 0 -300px no-repeat
}
#ourCrew div.member a.profile:hover {
    background-position:0 -330px
}
#ourCrew div.member table {
    margin:0;
    padding:0;
    border-spacing:0 5px;
    width:280px;
    float:right
}
#ourCrew div.member tbody {
    clear:both
}
#ourCrew div.member tbody tr {
    padding:5px 0;
    background:#f2f2f2;
    border:solid 1px #fff
}
#ourCrew div.member tbody tr td {
    font:normal 11px/38px'Open Sans', Arial, sans-serif;
    color:#65686b;
    text-align:left;
    border-right:solid 1px #ddd;
    padding:0 10px
}
#ourCrew div.member tbody tr td.caption {
    font:normal 12px/38px'Droid Serif', Georgia, Serif;
    color:#fff;
    background:#55ccd9;
    text-align:center;
    width:100px
}
#ourCrew div.member table ul {
    margin:2px 0 0 0;
    padding:0;
    list-style:none
}
#ourCrew div.member table ul li {
    display:block;
    float:left;
    margin-right:3px
}
#ourCrew div.member table ul li a {
    width:32px;
    height:32px;
    display:block;
    background:url("../images/sprite1.png") no-repeat;
    font:0/0 a;
    color:transparent;
    text-shadow:none
}
#ourCrew div.member table li:nth-child(1) a {
    background-position:0 -900px
}
#ourCrew div.member table li:nth-child(1) a:hover {
    background-position:-32px -900px
}
#ourCrew div.member table li:nth-child(2) a {
    background-position:0 -932px
}
#ourCrew div.member table li:nth-child(2) a:hover {
    background-position:-32px -932px
}
#ourCrew div.member table li:nth-child(3) a {
    background-position:0 -964px
}
#ourCrew div.member table li:nth-child(3) a:hover {
    background-position:-32px -964px
}
#ourCrew div.member table li:nth-child(4) a {
    background-position:0 -996px
}
#ourCrew div.member table li:nth-child(4) a:hover {
    background-position:-32px -996px
}
#ourLatestTweets .twitterFeed ul {
    margin:0;
    padding:0
}
#ourLatestTweets .twitterFeed ul li {
    width:100%;
    display:block;
    float:left;
    margin:0 0 10px 0;
    padding:0 0 0 30px;
    font:normal 11px/22px'Open Sans', Arial, sans-serif;
    color:#65686b;
    background:url("../images/twitter.png") left 6px no-repeat
}
#ourLatestTweets .twitterFeed ul li:last-child {
    margin:0
}
#ourLatestTweets .twitterFeed ul li a:link, #ourLatestTweets .twitterFeed ul li a:visited, #ourLatestTweets .twitterFeed ul li a {
    font:normal 11px/22px'Open Sans', Arial, sans-serif;
    color:#f2594b
}
#ourLatestTweets .twitterFeed ul li a:hover, #ourLatestTweets .twitterFeed ul li a:visited {
    text-decoration:underline
}
#ourLatestTweets .twitterFeed ul li img {
    display:none
}
#ourLatestTweets .twitterFeed ul li span.tweet_join {
    display:none
}
#aboutUs p {
    font:normal 11px/22px'Open Sans', Arial, sans-serif;
    color:#65686b
}
#aboutUs p a:link, #aboutUs p a:visited {
    color:#f2594b
}
#aboutUs p a:hover, #aboutUs p a:active {
    text-decoration:underline
}
#testimonials div {
    position:relative;
    padding:0 30px;
    float:left;
    width:100%
}
#testimonials span.quoteLeft {
    width:23px;
    height:18px;
    display:block;
    background:url("../images/quoteLeft.png") left top no-repeat;
    position:absolute;
    top:0;
    left:0
}
#testimonials span.quoteRight {
    width:23px;
    height:18px;
    display:block;
    background:url("../images/quoteRight.png") left top no-repeat;
    position:absolute;
    bottom:0;
    right:0
}
#testimonials div p {
    font:normal 18px/30px'Open Sans', Arial, sans-serif;
    color:#65686b;
    display:block
}