@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans);
@font-face {
    font-family:'BebasNeueRegular';
    src:url('../fonts/BebasNeue-webfont.eot');
    src:url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight:normal;
    font-style:normal
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block
}
a, a:link, a:visited {
    text-decoration:none
}
body {
    background:url("../images/background_images/concrete_wall_3.png") left top repeat
}
::selection {
    color:#fff;
    background:#f2594b;
    text-shadow:none;
    -webkit-text-shadow:none;
    -moz-text-shadow:none;
    -o-text-shadow:none
}
::-moz-selection {
    color:#fff;
    background:#f2594b;
    text-shadow:none;
    -webkit-text-shadow:none;
    -moz-text-shadow:none;
    -o-text-shadow:none
}
* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    outline:0
}
::-webkit-input-placeholder {
    font:normal 12px/24px'Droid Sans', Arial, sans-serif;
    color:#bfbfbf
}
:-moz-placeholder {
    font:normal 12px/24px'Droid Sans', Arial, sans-serif;
    color:#bfbfbf
}
input, textarea, .transition {
    transition:all .3s linear;
    -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -o-transition:all .3s linear
}
.noTransition {
    transition:none;
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none
}
.expand {
    width:100%
}
h1, h2, h3, h4, h5, h6, p, li, a, em, span {
    text-shadow:0 1px 0 #fff;
    -webkit-text-shadow:0 1px 0 #fff;
    -moz-text-shadow:0 1px 0 #fff;
    -o-text-shadow:0 1px 0 #fff;
    letter-spacing:.05em
}
section header, article header {
    background:url("../images/dotted_black.png") left top repeat;
    margin:0 0 30px 0;
    padding:0;
    font-size:24px;
    line-height:13px
}
section header.reverse, article header.reverse {
    background:url("../images/dotted_white.png") left top repeat
}
section header h2, article header h2 {
    font:normal 18px/13px'BebasNeueRegular', Arial, sans-serif;
    text-transform:uppercase;
    background:#f1f1f1 url("../images/background_images/concrete_wall_3.png") left top repeat;
    padding:0 12px 0 0;
    margin:0;
    display:inline;
    vertical-align:middle;
    color:#55ccd9
}
section header.reverse h2, article header.reverse h2 {
    color:#f2594b;
    background:#4d4d4d url("../images/background_images/denim.png") left top repeat;
    text-shadow:0 1px 0 #171717;
    -webkit-text-shadow:0 1px 0 #171717;
    -moz-text-shadow:0 1px 0 #171717;
    -o-text-shadow:0 1px 0 #171717
}
section header .navigation, article header .navigation {
    float:right;
    background:#f1f1f1 url("../images/background_images/concrete_wall_3.png") left top repeat;
    display:block;
    padding:0 0 3px 0;
    margin:0
}
section header.reverse .navigation, article header.reverse .navigation {
    background:#4d4d4d url("../images/background_images/denim.png") left top repeat
}
section header .navigation button, article header .navigation button {
    width:14px;
    height:14px;
    border:0;
    display:block;
    cursor:pointer;
    text-align:center;
    float:right;
    margin:0 0 0 12px;
    background:url("../images/sprite1.png") no-repeat;
    padding:0
}
section header .navigation button.next, article header .navigation button.next {
    background-position:-64px -928px
}
section header .navigation button.next:hover, section header .navigation button.next:active, article header .navigation button.next:hover, article header .navigation button.next:active {
    background-position:-64px -942px
}
section header .navigation button.prev, article header .navigation button.prev {
    background-position:-64px -900px
}
section header .navigation button.prev:hover, section header .navigation button.prev:active, article header .navigation button.prev:hover, article header .navigation button.prev:active {
    background-position:-64px -914px
}
a.more, a.more:link, a.more:visited {
    width:100px;
    height:30px;
    display:block;
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    background:url("../images/sprite1.png") 0 0 no-repeat
}
a.more:hover, a.more:active {
    background-position:0 -30px
}
#toTop {
    position:fixed;
    bottom:1%;
    right:1%;
    width:40px;
    height:40px;
    display:block;
    background:#55ccd9;
    font:bold 18px/35px Arial, sans-serif;
    text-align:center;
    color:#fff;
    z-index:10;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    display:none
}
#toTop:hover, #toTop:active {
    background:#f2594b
}
.container {
    position:relative;
    width:960px;
    margin:0 auto;
    padding:0
}
.container .column, .container .columns {
    float:left;
    display:inline;
    margin-left:10px;
    margin-right:10px
}

.leftColumn, .rightColumn {
	margin-top:30px;
}
.row {
    margin-bottom:20px
}
.column.alpha, .columns.alpha {
    margin-left:0
}
.column.omega, .columns.omega {
    margin-right:0
}
.container .one.column, .container .one.columns {
    width:40px
}
.container .two.columns {
    width:100px
}
.container .three.columns {
    width:160px
}
.container .four.columns {
    width:220px
}
.container .five.columns {
    width:280px
}
.container .six.columns {
    width:340px
}
.container .seven.columns {
    width:400px
}
.container .eight.columns {
    width:460px
}
.container .nine.columns {
    width:520px
}
.container .ten.columns {
    width:580px
}
.container .eleven.columns {
    width:640px
}
.container .twelve.columns {
    width:700px
}
.container .thirteen.columns {
    width:760px
}
.container .fourteen.columns {
    width:820px
}
.container .fifteen.columns {
    width:880px
}
.container .sixteen.columns {
    width:940px
}
.container .one-third.column {
    width:300px
}
.container .two-thirds.column {
    width:620px
}
.container .offset-by-one {
    padding-left:60px
}
.container .offset-by-two {
    padding-left:120px
}
.container .offset-by-three {
    padding-left:180px
}
.container .offset-by-four {
    padding-left:240px
}
.container .offset-by-five {
    padding-left:300px
}
.container .offset-by-six {
    padding-left:360px
}
.container .offset-by-seven {
    padding-left:420px
}
.container .offset-by-eight {
    padding-left:480px
}
.container .offset-by-nine {
    padding-left:540px
}
.container .offset-by-ten {
    padding-left:600px
}
.container .offset-by-eleven {
    padding-left:660px
}
.container .offset-by-twelve {
    padding-left:720px
}
.container .offset-by-thirteen {
    padding-left:780px
}
.container .offset-by-fourteen {
    padding-left:840px
}
.container .offset-by-fifteen {
    padding-left:900px
}
.container:after {
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content:'\0020';
    display:block;
    overflow:hidden;
    visibility:hidden;
    width:0;
    height:0
}
.row:after, .clearfix:after {
    clear:both
}
.row, .clearfix {
    zoom:1
}
.clear {
    clear:both;
    display:block;
    overflow:hidden;
    visibility:hidden;
    width:0;
    height:0
}

.winner {
	color:#33FF33
}

.looser {
	color:#FF3333
}

.tabActive {
	background:#55ccd9;
	color:#fff;
}

.tabInactive {
	background:#fff;
	color:#55ccd9;
}