#mainHeader {
    background:#f2f2f2;
    padding:0 0 20px
}
hr {
    height:5px;
    background:url(../images/dotted_black.png) left top repeat;
    margin:0;
    padding:0;
    clear:both;
    border:0
}
.topHeader {
    padding:10px 0;
    background:url(../images/background_images/denim.png) left top repeat
}
.topNav ul {
    margin:0;
    padding:0;
    list-style:none;
    text-align:center;
    display:block
}
.topNav li {
    display:inline;
    margin:0 5px 0 0;
    padding:0 10px 0 0;
    border-right:solid 1px #bfbfbf;
    font:400 10px/10px'Droid Serif', Georgia, serif
}
.topNav li.last {
    border:0
}
.topNav li a:link, .topNav li a:visited {
    font:400 10px/10px'Droid Serif', Georgia, serif;
    color:#bfbfbf;
    text-transform:uppercase;
    text-shadow:none;
    -webkit-text-shadow:none;
    -moz-text-shadow:none;
    -o-text-shadow:none
}
.topNav li a:hover, .topNav li a:active {
    color:#fff
}
#logo h1 a, #logo h1 a:link, #logo h1 a:visited {
    height:63px;
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    margin:20px 0 0;
    padding:0;
    background:url(../images/logo.png) left top no-repeat;
    display:block
}
#loginBox {
    float:right
}.loginBox form {
    margin:35px 0 0;
    padding:0;
    border:0;
    float:right
}
.loginBox #headerLogin, .loginBox #headerPassword, #mise {
    width:180px;
    height:30px;
    padding:5px 10px;
    margin:0 10px 0 0;
    background:#eee;
    border:0;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    -o-border-radius:20px;
    box-shadow:0 0 3px #c6c6c6 inset;
    -moz-box-shadow:0 0 3px #c6c6c6 inset;
    -webkit-box-shadow:0 0 3px #c6c6c6 inset;
    -o-box-shadow:0 0 3px #c6c6c6 inset;
    font:400 11px/22px'Open Sans', Arial, sans-serif;
    color:#65686b;
    float:left
}
.loginBox #headerLogin:focus, .loginBox #headerPassword:focus, #mise {
    box-shadow:0 0 3px #55ccd9 inset;
    -moz-box-shadow:0 0 3px #55ccd9 inset;
    -webkit-box-shadow:0 0 3px #55ccd9 inset;
    -o-box-shadow:0 0 3px #55ccd9 inset
}
.loginBox #submitLogin {
    border:0;
    width:100px;
    height:30px;
    background:url(../images/sprite1.png) 0 -180px no-repeat;
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    cursor:pointer;
    float:right;
    vertical-align:top;
	margin-right:10px;
}
.loginBox #submitLogin:hover {
    background-position:0 -210px
}
.loginBox #submitJoin {
    border:0;
    width:100px;
    height:30px;
    background:url(../images/sprite1.png) 0 -240px no-repeat;
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    cursor:pointer;
    float:right;
    vertical-align:top
}
.loginBox #submitJoin:hover {
    background-position:0 -270px
}
#mainNav {
    background:url("../images/background_images/denim.png") left top repeat;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    -o-border-radius:20px;
    text-align:center;
    margin-top:15px;
    margin-bottom:15px
}
#mainNav ul {
    margin:0;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:0
}
#mainNav li {
    display:inline;
    margin:0;
    position:relative
}
#mainNav li a:link, #mainNav li a:visited {
    font:normal 18px/60px'BebasNeueRegular', Arial, sans-serif;
    padding:0 25px;
    text-align:center;
    display:inline-block;
    text-decoration:none;
    color:#f2f2f2;
    transition:all .3s linear;
    -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -o-transition:all .3s linear;
    text-shadow:none;
    -webkit-text-shadow:none;
    -moz-text-shadow:none;
    -o-text-shadow:none
}
#mainNav li a:hover, #mainNav li a:active, #mainNav li a.current {
    background:#f2f2f2;
    color:#f2594b
}
#mainNav ul ul {
    z-index:150;
    position:absolute;
    left:0;
    background:url("../images/background_images/denim.png") left top repeat;
    min-width:180%;
    display:none
}
#mainNav ul ul li {
    margin:0;
    display:list-item
}
#mainNav ul ul li a:link, #mainNav ul ul li a:visited {
    font:normal 12px/44px'Droid Serif', Georgia, Serif;
    padding:0 10px;
    text-align:left;
    display:block;
    border-bottom:solid 1px #65686b;
    transition:padding .3s ease-out;
    -webkit-transition:padding .3s ease-out;
    -moz-transition:padding .3s ease-out;
    -o-transition:padding .3s ease-out
}
#mainNav ul ul li a:hover, #mainNav ul ul li a:active {
    border-bottom:solid 1px #65686b;
    padding-left:20px
}
#pageHeader {
    position:relative
}
#info {
    border:solid 3px #fff;
    background:url("../images/pageHeaderBG.jpg") left top repeat;
    margin:0 auto;
    width:30%;
    position:relative;
    text-align:center
}
#info .topLeft {
    width:20px;
    height:20px;
    display:block;
    background:url("../images/sprite1.png") 0 -1060px no-repeat;
    position:absolute;
    top:-3px;
    left:-3px;
    z-index:2
}
#info .topRight {
    width:20px;
    height:20px;
    display:block;
    background:url("../images/sprite1.png") -20px -1060px no-repeat;
    position:absolute;
    top:-3px;
    right:-3px;
    z-index:2
}
#info .bottomRight {
    width:20px;
    height:20px;
    display:block;
    background:url("../images/sprite1.png") -20px -1080px no-repeat;
    position:absolute;
    bottom:-3px;
    right:-3px;
    z-index:2
}
#info .bottomLeft {
    width:20px;
    height:20px;
    display:block;
    background:url("../images/sprite1.png") 0 -1080px no-repeat;
    position:absolute;
    bottom:-3px;
    left:-3px;
    z-index:2
}
#info h1 {
    text-align:center;
    font:normal 24px/24px'BebasNeueRegular', Arial, sans-serif;
    color:#f2594b;
    margin:10px 0 0 0;
    text-shadow:none;
    -webkit-text-shadow:none;
    -moz-text-shadow:none;
    -o-text-shadow:none
}
#info em {
    font:italic 11px/11px'Droid Serif', Georgia, serif;
    text-align:center;
    color:#65686b
}
#pageHeader .stripe {
    width:100%;
    height:20px;
    position:absolute;
    left:0;
    top:40%;
    background:url("../images/background_images/denim.png") left top repeat;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    -o-border-radius:20px
}
#breadCrumbs {
    width:100%;
    margin-top:10px;
    background:#f2f2f2;
    padding:5px;
    text-align:center
}
#breadCrumbs p {
    font:normal 10px/10px'Open Sans', Arial, sans-serif;
    color:#999
}
#breadCrumbs p a:link, #breadCrumbs p a:visited {
    font:normal 10px/10px'Open Sans', Arial, sans-serif;
    color:#999;
    text-decoration:underline
}
#breadCrumbs p a:hover, #breadCrumbs p a:active {
    color:#f2594b
}
#breadCrumbs p a.active {
    text-decoration:none
}
#footer {
    margin:60px 0 0 0;
    padding-top:30px;
    background:url("../images/background_images/denim.png") left top repeat;
    border-top:solid 5px #fff
}
.footerAbout h1 a, .footerAbout h1 a:link, .footerAbout h1 a:visited {
    height:63px;
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    margin:0 0 30px 0;
    padding:0;
    background:url("../images/logo.png") left top no-repeat;
    display:block
}
.footerAbout p {
    font:normal 11px/22px'Open Sans', Arial, sans-serif;
    color:#999;
    text-shadow:0 1px 0 #171717;
    -webkit-text-shadow:0 1px 0 #171717;
    -moz-text-shadow:0 1px 0 #171717;
    -o-text-shadow:0 1px 0 #171717;
    margin-bottom:20px
}
.footerAbout a.login:link, .footerAbout a.login:visited {
    width:100px;
    height:30px;
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    display:block;
    background:url("../images/sprite1.png") left -180px no-repeat;
    float:left;
    margin-right:10px
}
.footerAbout a.login:hover, .footerAbout a.login:active {
    background-position:left -210px
}
.footerAbout a.join:link, .footerAbout a.join:visited {
    width:100px;
    height:30px;
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    display:block;
    background:url("../images/sprite1.png") left -240px no-repeat;
    float:left
}
.footerAbout a.join:hover, .footerAbout a.join:active {
    background-position:left -270px
}
.footerNav ul, .flickrFeed ul {
    margin:0;
    padding:0;
    list-style:none
}
.footerNav li a:link, .footerNav li a:visited, .usefulLinks li a:link, .usefulLinks li a:visited {
    font:normal 11px/22px'Droid Serif', Georgia, serif;
    color:#999;
    text-shadow:0 1px 0 #171717;
    -webkit-text-shadow:0 1px 0 #171717;
    -moz-text-shadow:0 1px 0 #171717;
    -o-text-shadow:0 1px 0 #171717
}
.footerNav li a:hover, .footerNav li a:active, .usefulLinks li a:hover, .usefulLinks li a:active {
    color:#fff
}
.flickrFeed li {
    display:block;
    float:left;
    padding:0;
    margin:0 23px 10px 0
}
.flickrFeed li:nth-child(3), .flickrFeed li:nth-child(6), .flickrFeed li:nth-child(9) {
    margin-right:0
}
.flickrFeed li img {
    background:url("../images/dotted_white.png") left top repeat;
    padding:5px;
    border:0
}
.usefulLinks ul {
    margin:0 0 0 22px;
    padding:0;
    list-style-image:url("../images/link_icon.png")
}
.usefulLinks li {
    margin-bottom:7px
}
.footerBottom {
    margin:30px 0 0 0;
    padding:10px 0;
    background:#2c2c2c
}
.footerSocial ul {
    margin:0;
    padding:0;
    list-style:none
}
.footerSocial ul li {
    display:block;
    float:left;
    margin-right:3px
}
.footerSocial ul li a {
    width:32px;
    height:32px;
    display:block;
    background:url("../images/sprite1.png") no-repeat;
    font:0/0 a;
    color:transparent;
    text-shadow:none
}
.footerSocial li:nth-child(1) a {
    background-position:0 -900px
}
.footerSocial li:nth-child(1) a:hover {
    background-position:-32px -900px
}
.footerSocial li:nth-child(2) a {
    background-position:0 -932px
}
.footerSocial li:nth-child(2) a:hover {
    background-position:-32px -932px
}
.footerSocial li:nth-child(3) a {
    background-position:0 -964px
}
.footerSocial li:nth-child(3) a:hover {
    background-position:-32px -964px
}
.footerSocial li:nth-child(4) a {
    background-position:0 -996px
}
.footerSocial li:nth-child(4) a:hover {
    background-position:-32px -996px
}
.footerSocial li:nth-child(5) a {
    background-position:0 -1028px
}
.footerSocial li:nth-child(5) a:hover {
    background-position:-32px -1028px
}
.copyRights p {
    margin:10px 0 0 0;
    font:normal 10px/10px'Open sans', Arial, sans-serif;
    color:#65686b;
    text-transform:uppercase;
    text-align:right;
    text-shadow:none;
    -webkit-text-shadow:none;
    -moz-text-shadow:none;
    -o-text-shadow:none
}

.link {
	color:#f2594b;
    text-decoration:none
}

.link:hover{
	color:#f2594b;
    text-decoration:underline
}

.winner {
	color:#33CC33;
}

.looser {
	color:#FF0055;